body {
  background: #E4DFDA;
  color: #D4B483;
}

h1 {
  align: center;
}

.container {
  text-align: center;
  border: solid 5px #4357AD;
  background: #48A9A6;
  margin: 5px;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

#grid {
  display: grid;
  grid-template-columns: auto auto auto;
  background: #48A9A6; 
}