body {
  background: #E4DFDA;
  color: #D4B483;
}

h1 {
  align: center;
}

button {
  margin: 10px 0px 10px 0px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  text-align: center;
  border: solid 5px #4357AD;
  background: #48A9A6;
  margin: 5px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  background: #48A9A6; 
}

#navbar {
  display: flex;
  justify-content: space-evenly;
}

#grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background: #48A9A6; 
}